/*
#c03221
#f7f7ff
#f2d0a4
#545e75
#3f826d
*/
html,
body {
    height: 100vh;
}
body {
    background-color: #f7f7ff;
    color: #545e75;
}

.hr-bar {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/* Title Bar */
.title-sec {
color: #fff;
font-size: 5em;
font-weight: bold;
font-family: Helvetica;
text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

.title-sec h1 {
    margin-right: 20px;
    font-weight: bold;
}

/* Sidebar */
.sidebar {

}

.sidebar button {
    border-color: #f7f7ff;
    background-color: rgba(63,130,109,.50);
    color: #f7f7ff;
}
.sidebar button:hover {
    background-color: rgba(63,130,109,.70);
    color: #f7f7ff;
}

.room-list {
    margin-top: 20px;
    font-size: 2.1rem;
}
/**********Chat room *********/
.chat-room {
    min-height: 400px;
}




/************Send message area     *************/
.message-row {
    height: 100%;
    bottom: 0;
}

/* Create Room Modal Window */
.modalstyles {
    border-radius: 5px;
    background-color: #f7f7ff;
}

.modalstyles input {
    width: 100%;
    padding: 5px;
    border: none;
    border-bottom: 2px solid red;
    border-radius: 5px;
}
.modalstyles input:focus {
    outline: none;
}
.cancel-btn {
    font-weight: bold;
}
.cancel-btn:hover {
    background-color: red;
}
