<div class="modalstyles">
    <div class="modal-header">
        <h2>Create your desired Room Name...</h2>
    </div>
    <div class="modal-body">
        <div>
            <input type="text" placeholder="Enter creative name here..." ng-model="roomInput">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default cancel-btn" ng-click="cancel()">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="confirm(roomInput)">Submit</button>
    </div>
</div>
